.graph-context-menu{
  width: 160px !important;
  padding: 10px 0 !important;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
  margin-top: 0px !important;
  margin-left: 0px !important;
  .block{
    position: relative;
    padding: 0px !important;
    background-color: transparent !important;
    border: none !important;
    color: #333 !important;
    cursor: pointer;
    transition: background-color 0.2s;
    &.selected {
      background-color: #ddd !important;
    }
    &.hasSubitems:after{
      content: '' !important;
      position: absolute !important;
      right: 4px !important;
      top: 50% !important;
      opacity: 1 !important;
      width: 0px;
      height: 0px;
      border-left: 7px #333 solid;
      border-top: 4px transparent solid;
      border-bottom: 4px transparent solid;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
    &:hover {
      background-color: #eee !important;
    }
    .content{
      padding: 5px 12px !important;
    }
  }
  .subitems{
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
  }
}