.blueprint-container{
  position: relative;
  width: 100%;
  height: 100%;
  /* 黑底 */
  background-color: #262626;
  background-image:
    linear-gradient(#0f0f0f 1.5px, transparent 1.5px),
    linear-gradient(90deg, #0f0f0f 1.5px, transparent 1.5px),
    linear-gradient(#333333 1.5px, transparent 1.5px),
    linear-gradient(90deg, #333333 1.5px, #262626 1.5px);
  /* 白底：测试用 */
  // background-color: #c9c9c9;
  // background-image:
  //   linear-gradient(#f0f0f0 1.5px, transparent 1.5px),
  //   linear-gradient(90deg, #f0f0f0 1.5px, transparent 1.5px),
  //   linear-gradient(#aaaaaa 1.5px, transparent 1.5px),
  //   linear-gradient(90deg, #aaaaaa 1.5px, #c9c9c9 1.5px);
  background-size: 200px 200px, 200px 200px, 25px 25px, 25px 25px;
  background-position: -1.5px -1.5px, -1.5px -1.5px, -1.5px -1.5px, -1.5px -1.5px;
  box-shadow:
    inset 3px 0 5px 0 rgba(0, 0, 0, 0.1),
    inset 1px 0 3px 0 rgba(0, 0, 0, 0.2);
  .blueprint-ref{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s;
    &.show {
      opacity: 1;
    }
  }
  .blueprint-toolbar{
    position: absolute;
    height: 32px;
    padding: 8px 12px;
    box-sizing: content-box;
    border-radius: 24px;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    background-color: #2d2d2d;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
    button{
      background-color: #3c3c3c;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
      --wave-color: #fff;
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 8px;
      }
      &:not(:disabled):not(.ant-btn-disabled) {
        &:focus, &:hover, &:active{
          border: none;
          outline: none;
          background-color: lighten(#3c3c3c, 10%);
        }
        &:focus {
          background-color: #3c3c3c;
          box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.6);
        }
      }
      .anticon{
        font-size: 12px;
        filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.6));
      }
    }
  }
}